* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    color: white;
    background-image: url('./filesystem/wallpapers/pexels-janez-podnar.jpg');
}

#desktop {
    z-index: -5;
    overflow: hidden;
}

/* Native taskbar */
#taskbar {
    position: absolute;
    display: block;
    width: 100vw;
    height: 50px;
    bottom: 0;
    z-index: 999;
}
.taskbar-flex {
    display: flex;
    background-color: #2A2E32;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}
.taskbar-items {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.btn-menusuper {
    width: 200px;
    height: 100%;
    padding: 10px;
    color: white;
    border: 1px solid white;
    background-color: #2A2E32;
}

.div-menusuper {
    position: absolute;
    display: block;
    width: 500px;
    height: 50vh;
    background-color: #2A2E32;
    bottom: 50px;
    overflow-block: hidden;
    z-index: 99999999;
}

.div-menusuper__applications {
    overflow-y: scroll;
    width: 100%;
    height: 90%;
    display: block;
}

.menusuper__applicationsItem {
    display: flex;
    padding: 15px;
    background-color: #2f3133;
    border-bottom: 1px solid white;
    cursor: pointer;
    width: 100%;
}

.menusuper__applicationsIcon img {
    width: 50px;
}

.menusuper__applicationsName {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 5px;
}

.menusuper__applicationsName p {
    text-align: center;
}

.div-menusuper__actionbar {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 10px;
    align-items: center;
}

.menusuper__actionbar-item {
    width: 100%;
}
menusuper__actionbar-item menusuper__actionbar-user

.hidden {
    display: none;
}

/* Window Default Styles */
.swde-window {
    position: absolute;
    display: block;
    width: 800px;
    height: 600px;
    min-width: 300px;
    min-height: 200px;
    background-color: #5c6064;
    border-radius: 5px;
    border: 1px solid #2A2E32;
}

.swde-window-titlebar {
    display: flex;
    position: relative;
    background-color: #2A2E32;
    width: 100%;
    padding: 5px;
    height: 40px;
}

.swde-window-icon img {
    width: 30px;
}

.swde-window-titlebar > * {
    width: 100%;
}

.swde-window-actions button {
    width: 30px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid transparent;
    cursor: pointer;
}

.swde-window-actions__buttons {
    text-align: right;
}

.swde-window-action__close {
    background-color: rgb(230, 115, 115);
}
.swde-window-action__minimize {
    background-color: rgb(238, 224, 146);
}

.swde-window-action__maximize {
    background-color: rgb(200, 235, 148);
}

.swde-window-content {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: calc(100% - 30px);
    overflow: hidden;
    white-space:nowrap;
}