:root {
    --body-bgcolor: rgb(255, 255, 255);
    --window-bgcolor: white;
    --window-font-color: black;
    --window-titlebar-bg: rgb(255, 255, 255);
    --windoe-titlebar-font-color: black;
    --system-font-color: black;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    color: var(--system-font-color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#desktop {
    z-index: -10;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%,
    calc(100% - 50px);
}

/* Native taskbar */

.hidden {
    display: none;
}

